@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

.mtb-first {
  height: 100vh;
  width: 100vw;
  background-color: #EAE9E4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mtb-logo {
  width: 256px;
  height: 256px;
  margin: 1rem;
  background-image: url(https://mollythebot.github.io/circle-logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  animation: 15s linear 0s infinite normal forwards running mtb-logo;
	transform: rotate(120deg);
}

@keyframes mtb-logo {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(120deg);
	}
}

.mtb-container {
  overflow: hidden;
}

.mtb-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin: 1rem;
  text-align: center;
  color: #070E1F;
}

.mtb-p {
  margin: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 100;
}